section { 
border-radius: 3px;
border:1px solid grey;
background-color:#EFEDE3;
padding:50px;
overflow:hidden; 
margin-left:30px;
margin-top:10px;
	}
	
.indent-1 { padding-left:100px; padding-right:30px; padding-top:20px; margin-left:300px; margin-right:100px; margin-top:20px; background-color: white;}

section > section { float:left; }

