p.cons {
border-radius: 3px;
border:1px solid grey;
background-color:#EFEDE3;
}

p.individual {
border-radius: 3px;
border:1px solid grey;
background-color:#EFEDE3;
}

p.permissiontype {
border-radius: 3px;
border:1px solid grey;
background-color:#EFEDE3;
}

p.currentpermission {
border-radius: 3px;
border:1px solid grey;
background-color:#EFEDE3;
}




